body{
    box-sizing: border-box;
    /* height: 100%; */
    /* width: 100%; */
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.marine-blue-fcolor{
    color: hsl(213, 96%, 18%);
}
.opaque-black{
    color: hsl(0, 0, 0);
    opacity: 0.4;
}
.sidebar-invert{
    background-color: hsl(206, 94%, 87%);
    color: black;
}
#none{
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 900px;
    margin-top: 35px;
}
.sidebar{
    margin-left: 300px;
    overflow: hidden;
    height: 900px;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-image: url('assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: 400px;
}
.steps{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-bottom: -30px;
    color: hsl(206, 94%, 87%);
    text-transform: uppercase;
}
.steps_1{
    margin-top: 20px;

}
.steps_1>h5{
    font-size: 20px;
    font-weight: medium;
    padding: 12px 18px 12px 18px;
    border-radius: 100px;
    border: 3px solid hsl(206, 94%, 87%);
}
.steps_2{
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}
.steps_2>h4{
    font-size: 20px;
}
.steps_2>h5{
    margin-bottom: -25px;
    font-size: 20px;
    font-weight: lighter;
    opacity: 0.5;
}
.step-1{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.step-1>h2{
    font-size: 45px;
    color: hsl(213, 96%, 18%);
}
.step-1>p{
    font-size: 20px;
    opacity: 0.5;
    margin-top: -20px;
}

.form-1>div>label{
    font-size: 20px;
    color: hsl(213, 96%, 18%);
    font-weight: 500;
}
.form-1>div>input{
    width: 500px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid hsl(229, 24%, 87%);
    border-radius: 10px;
    padding-left: 15px;
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif;
}
.form-info{
    margin-bottom: 30px;
}
.form-1>button{
    float: right;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background-color: hsl(213, 96%, 18%);
    border-radius: 10px;
}

.plans{
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.hover-effect:hover{
    background-color: rgba(173, 190, 255, 0.2);
    border: 2px solid hsl(213, 96%, 18%);
}
.pick-onclick{
    background-color: rgba(173, 190, 255, 0.2);
    border: 2px solid hsl(213, 96%, 18%);
}
.pick-notclick{
    border: 2px solid hsl(229, 24%, 87%);
}
.plans>div{
    width: 130px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.plans>div>img{
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}
.plans>div>h2{
    margin-bottom: 0;
}
.plans>div>h3{
    font-size: 16px;
    margin-bottom: 0;
}
.plans>div>p{
    margin-bottom: 0;
    font-size: 18px;
    opacity: 0.5;
    font-weight: 500;
}

/* slider */
.toggle>label{
    margin-left: 15px;
    margin-right: 15px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(213, 96%, 18%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(213, 96%, 18%);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
.toggle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(173, 190, 255, 0.1);
    padding-top: 18px;
    padding-bottom: 5px;
    margin-top: 100px;
}
.toggle>p{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.btns-1{
    font-size: 20px;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background-color: transparent;
    color: hsl(213, 96%, 18%);
    border-radius: 10px;

}
.btns-2{
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background-color: hsl(213, 96%, 18%);
    border-radius: 10px;
}

.form-check{
    display: flex;
    flex-direction: row;
}
.form-check>input{
    height: 25px;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
}
.form-check>label{
    display: flex;
    flex-direction: row;
}
.form-check-pick>div>h3{
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 0;
}
.form-check-pick>div>p{
    opacity: 0.5;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
}
.p1{
    margin-left: 100px;
}
.p2{
    margin-left: 135px;
}
.p3{
    margin-left: 80px;
}
.form-2{
    margin-top: 40px;
}
.form-2>div{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.extra-m{
    margin-top: 135px;
}


